#wrapper {
	position:absolute;
	z-index:0; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
	overflow:hidden; 
}

#dimmer {
	width:100%;  
	height:100%;  
	z-index:7; 
	position:absolute; 
	background-color:#000000; 
	opacity:0.6;
}

#message {
	width:50%; 
	z-index:8; 
	background-color:#ffffff; 
	padding:20px; 
	box-shadow: 0px 0px 5px #777777; 
	border:solid 1px;
	border-radius: 5px;
	font-size:24px; 
	color:black; 
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

#cardspaceheader {
    display: inline-block;
    vertical-align: top;
    float: left;

    background-color: #CCC;
	background: linear-gradient(to top, #ddd 0%,#fafafa 100%);

    width: 23%;
    height: 8%;

    border: 0px solid #eee;
    padding: 1%;
}

#cardspace {
    display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-around;
    vertical-align: top;
    float: left;

    width: 25%;
    height: 85%;
	overflow-y:auto;

    margin: 0px;
    padding: 0px;
}

#groupspaceheader {
    display: inline-block;
    vertical-align: top;
    float: left;

    background-color: #CCC;
	background: linear-gradient(to top, #ddd 0%,#fafafa 100%);

    width: 73%;
    height: 8%;
    
    border-top: 0px solid #eee;
    border-right: 0px solid #eee;
    border-bottom: 0px solid #eee;
    border-left: 0px none #eee;
    padding: 1%;
}

#groupspaceheader button {
	position:absolute;
	top:20px;
	right:50px;
    font-weight: bold;
	cursor: pointer; 
}

#groupspaceheader input {
	position:absolute;
	top:22px;
	right:140px;
    font-weight: bold;
	cursor: pointer; 
}

#groupwrapper {
    display: inline-block;
    vertical-align: top;
    float: left;
	
    height: 85%;
    width: 75%;
	overflow:auto;
	
    margin: 0px;
    padding: 0px;
}

#groupspace {
	display: inline-block;
    vertical-align: top;    
    width: 100%;
}

#addgroup {
	font-size:x-large;
	text-align: center;
	height: 30px;
	width: 30px;
    margin: 1%;
    border: 1px black dotted;
    border-radius: 8px;
    padding: 1%;
	cursor: pointer; 
}

.deletegroup {

	float:right;
	
	font-size: large;
	text-align: center;
	
	height: 15px;
	width: 15px;
	line-height: 8pt;
	
	margin: -28pt 0pt 0pt 0pt;
    border: 1px red solid;
	padding: 0px;
}

.card {
    display: inline-block;
	text-align: center;
    width: 80px;
    height: 20px;
    margin: 4px;
    padding: 4px;
	border: 1px solid;
    border-radius: 3px;
    background-color: #cccccc;
	cursor: pointer; 
}

.cardimage {
	width: 80px;
}

.cardtext {
	width: 80px;
	height: 120px;
	
	text-align: left;
	overflow: hidden;
	font-size: small;
	
	color: #666;
	margin-bottom: -10px;	
}

.bigimgcard {
	display: none;
}

.bigtextcard {
	display: none;
}

.group {
    width: 95%;
    height: auto;
    margin: 1%;
    border: 1px black solid;
    border-radius: 8px;
    padding: 1%;
	cursor: pointer; 
}

.title {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-weight: bold;
}

.subtitle {
    margin: -14pt 0px 10pt 0px;
    border: 0px;
    padding: 0px;
	font-size: x-small;
}

.cardtitle{
	font-size: small;
}

.drophighlight {
	box-shadow: 0px 0px 6px #000;
}

.ui-widget-overlay {
	background: #000;
}

p, span, h1, h2, h3, button, input {
	font-family: 'Open Sans', Verdana, Geneva, sans-serif, sans-serif;
	font-weight: normal;
	color: #333;
}

h3 {
	margin-top: 2px;
}

br {
	clear: both;
}